@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- HEADER -->
<div class="jumbotron jumbotron-fluid crf-hero d-flex">
    <div class="container d-flex flex-column justify-content-center align-items-sm-stretch align-items-md-center">
        <h1 class="col-sm-12">GET A STICKER</h1>
        <h2>25% OFF</h2>
        <p class="lead">THROUGHOUT THE SEASON</p>
    </div>
</div>

<!-- SALE BANNER -->
<div class="container crf-cigar-banner">
    <div class="row orange-border">
        <a href="/CurrentPromotion">
            <div class="crf-cigar-banner--container d-flex justify-content-center align-items-center">
                <img alt="Bear stickers" class="order-sm-0 order-md-0" src="/images/bear.png">
                <div class="crf-cigar-banner--text order-sm-2 order-md-1">
                    <div class="text-light">Sticky weekend</div>
                    <div class="text-secondary">Save an extra 25%</div>
                    <div class="text-primary">when you buy 2 stickers</div>
                </div>
                <img alt="Dog stickers" class="order-sm-1 order-md-2" src="/images/dog.png">
            </div>
        </a>
    </div>
</div>


<!-- STORIES -->
<div class="container crf-story">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image">
                    <svg width="400" height="110">
                        <rect width="400" height="576" style="fill:rgb(155,155,155);stroke-width:3;stroke:rgb(0,0,0)" />
                    </svg>
                </div>
                <div class="crf-story--text">
                    <h3>Farm Animal Themed</h3>
                    <div>Cow, Chicken, Sheep and more...</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image">
                    <svg width="400" height="110">
                        <rect width="400" height="576" style="fill:rgb(0,100,255);stroke-width:3;stroke:rgb(0,0,0)" />
                    </svg>
                </div>
                <div class="crf-story--text">
                    <h3>Bird Themed</h3>
                    <div>Parrot, Duck, Goose and more...</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image">
                    <svg width="400" height="110">
                        <rect width="400" height="576" style="fill:rgb(50,50,50);stroke-width:3;stroke:rgb(0,0,0)" />
                    </svg>
                </div>
                <div class="crf-story--text">
                    <h3>Space Themed</h3>
                    <div>Rocket ship, earth, and other planets</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image">
                    <svg width="400" height="110">
                        <rect width="400" height="576" style="fill:brown;stroke-width:3;stroke:rgb(0,0,0)" />
                    </svg>
                </div>
                <div class="crf-story--text">
                    <h3>Wild West Themed</h3>
                    <div>Cowboys.</div>
                </div>
            </a>
        </div>
    </div>
</div>

